body, html {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  margin: 10px;
  text-align: center;
}

.homepage-image {
  width: 100px;
  height: 100px;
}

.home-page {
  text-align: center;
  position: relative;
  top: 25%;
}

hr {
  width: 25%;
  height: .75px;
  border: 0;
  background: #333;
  background-image: linear-gradient(to right, #f6f6f6, black, #f6f6f6);
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 50px;
  height: 50px;
  letter-spacing: -.03em;
  font-family: 'Calligraffitti', cursive;
}

.slogan {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 26px;
  font-family: 'Crimson Text', serif;
  color: #666;
}

.table {
  display: table;
  margin: 0 auto;
}

li {
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

li {
  display: inline;
}

.content {
  text-align: center;
  color: #bbb;
}

li a {
  display: block;
  text-decoration: none;
  color: #FF0000;
  font-family: 'Open Sans', sans-serif;
}

.navbar{

  display: flex;
  align-items: center;
  padding: 12px;
}

nav{

  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 30px;
}

a{
  text-decoration: none;
  color: rgb(3, 22, 37);
}

.handle{
  background-color:transparent;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 5px 10px;
  font-size: 1.20em;
  font-weight: bold;
}


.handle a:hover{
  background-color: rgba(255, 255, 255, 0.959);
  border-radius: 20px;

}

.handle a i{
  margin: 5px;
}
